Repository ska-telescope/ska-docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_tango-builder, build_dependencies, build_tango-db, build_tango-cpp, build_tango-java, build_tango-dsconfig, build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango

build_tango-builder:
  retry: 2
  stage: build_0
  tags:
  - docker-executor
  script:
  - cd docker/tango/tango-builder
  - make DOCKER_BUILD_ARGS="--no-cache" DOCKER_REGISTRY_USER=$DOCKER_REGISTRY_USER DOCKER_REGISTRY_HOST=$DOCKER_REGISTRY_HOST build
  ...

build_dependencies:
  retry: 2
  stage: build_1
  tags:
  - docker-executor
  script:
  - cd docker/tango/tango-dependencies
  - make DOCKER_BUILD_ARGS="--no-cache" DOCKER_REGISTRY_USER=$DOCKER_REGISTRY_USER DOCKER_REGISTRY_HOST=$DOCKER_REGISTRY_HOST build
  ...

build_tango-db:
  retry: 2
  stage: build_1
  tags:
  - docker-executor
  script:
  - cd docker/tango/tango-db
  - make DOCKER_BUILD_ARGS="--no-cache" DOCKER_REGISTRY_USER=$DOCKER_REGISTRY_USER DOCKER_REGISTRY_HOST=$DOCKER_REGISTRY_HOST build
  ...

build_tango-cpp:
  retry: 2
  stage: build_2
  tags:
  - docker-executor
  script:
  - cd docker/tango/tango-cpp
  - make DOCKER_BUILD_ARGS="--no-cache" DOCKER_REGISTRY_USER=$DOCKER_REGISTRY_USER DOCKER_REGISTRY_HOST=$DOCKER_REGISTRY_HOST build
  ...

build_tango-java:
  retry: 2
  stage: build_2
  tags:
  - docker-executor
  script:
  - cd docker/tango/tango-java
  - make DOCKER_BUILD_ARGS="--no-cache" DOCKER_REGISTRY_USER=$DOCKER_REGISTRY_USER DOCKER_REGISTRY_HOST=$DOCKER_REGISTRY_HOST build
  ...

build_tango-dsconfig:
  retry: 2
  stage: build_3
  tags:
  - docker-executor
  script:
  - cd docker/tango/tango-dsconfig
  - make DOCKER_BUILD_ARGS="--no-cache" DOCKER_REGISTRY_USER=$DOCKER_REGISTRY_USER DOCKER_REGISTRY_HOST=$DOCKER_REGISTRY_HOST build
  ...

build_ska-python-buildenv:
  retry: 2
  stage: build_3
  tags:
  - docker-executor
  script:
  - cd docker/tango/ska-python-buildenv
  - make DOCKER_BUILD_ARGS="--no-cache" DOCKER_REGISTRY_USER=$DOCKER_REGISTRY_USER DOCKER_REGISTRY_HOST=$DOCKER_REGISTRY_HOST build
  ...

build_ska-python-runtime:
  retry: 2
  stage: build_4
  tags:
  - docker-executor
  script:
  - cd docker/tango/ska-python-runtime
  - make DOCKER_BUILD_ARGS="--no-cache" DOCKER_REGISTRY_USER=$DOCKER_REGISTRY_USER DOCKER_REGISTRY_HOST=$DOCKER_REGISTRY_HOST build
  ...

build_tango-itango:
  retry: 2
  stage: build_5
  tags:
  - docker-executor
  script:
  - cd docker/tango/tango-itango
  - make DOCKER_BUILD_ARGS="--no-cache" DOCKER_REGISTRY_USER=$DOCKER_REGISTRY_USER DOCKER_REGISTRY_HOST=$DOCKER_REGISTRY_HOST build
  ...

st-260 tango-rest update
  docker/tango/tango-rest/Dockerfile
Due: none

st-260 fix docker folder
  .gitlab-ci.yml
  docker/tango/tango-rest/Dockerfile
Due: none

st-260 fix tango-db release
  docker/tango/tango-db/.release
Due: build_tango-db

st-260 fix tango-rest and increase version
  docker-compose/rest.yml
  docker/tango/tango-rest/.release
  docker/tango/tango-rest/Dockerfile
  docker/tango/tango-rest/docker-compose.yml
  docker/tango/tango-rest/supervisord.conf
Due: none

add test for numpy spectrym data type
  docker/tango/tango-itango/test/script.exp
Due: build_tango-itango

refactor test
  docker/tango/tango-itango/test/script.exp
Due: build_tango-itango

add numpy array test for rw attribute
  docker/tango/tango-itango/docker-compose.yml
  docker/tango/tango-itango/test/script.exp
Due: build_tango-itango

st-248 add image for deployment speed up
  .gitlab-ci.yml
  docker/deploy/.release
  docker/deploy/Dockerfile
  docker/deploy/Makefile
Due: none

st-248 fix
  docker/deploy/Dockerfile
Due: none

Install numpy before PyTango Refresh pipfiles to use latest numpy and pytango distributions
  docker/tango/ska-python-buildenv/Dockerfile
  docker/tango/ska-python-buildenv/Pipfile
  docker/tango/ska-python-buildenv/Pipfile.lock
  docker/tango/ska-python-runtime/Pipfile
  docker/tango/ska-python-runtime/Pipfile.lock
  docker/tango/tango-itango/Pipfile
  docker/tango/tango-itango/Pipfile.lock
Due: build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango

Change release versions
  docker/deploy/.release
  docker/deploy/Dockerfile
  docker/tango/ska-python-buildenv/.release
  docker/tango/ska-python-runtime/.release
Due: build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango

improvement
  .gitlab-ci.yml
  docker/tango/tango-cpp/.release
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-db/.release
  docker/tango/tango-db/sql_mode.cnf
Due: build_tango-db, build_tango-cpp, build_tango-dsconfig, build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango

fix
  docker/tango/tango-cpp/Dockerfile
Due: build_tango-cpp, build_tango-dsconfig, build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango

improvements
  docker-compose/tango.yml
  docker-compose/tangotest.yml
  docker/tango/tango-db/sql_mode.cnf
Due: build_tango-db

story-AT1-328: Initial edits
  docker-compose/archiver.yml
  docker/tango/Makefile
  docker/tango/mariadb_hdbpp/Dockerfile
  docker/tango/mariadb_hdbpp/resources/create_hdb++_mysql.sql
  docker/tango/mariadb_hdbpp/resources/my.cnf
  docker/tango/tango-archiver/.release
  docker/tango/tango-archiver/Dockerfile
  docker/tango/tango-archiver/attribute_fqdn.txt
  docker/tango/tango-archiver/configure_hdbpp.py
  docker/tango/tango-viewer/.release
  docker/tango/tango-viewer/Dockerfile
  docker/tango/tango-viewer/hdbpp_viewer_script
Due: none

added code owners
  CODEOWNERS
Due: none

add tango-vscode
  .gitlab-ci.yml
  docker/tango/tango-vscode/.release
  docker/tango/tango-vscode/Dockerfile
  docker/tango/tango-vscode/Makefile
  docker/tango/tango-vscode/Pipfile
  docker/tango/tango-vscode/Pipfile.lock
Due: none

story_AT1-366:Added makefile and release file in mariaDB folder to created 0.1.0 tag of mariaDB.
  docker/tango/mariadb_hdbpp/.release
  docker/tango/mariadb_hdbpp/Makefile
Due: none

add vscode to the push
  docker/tango/Makefile
Due: none

Improvement in the creation of PyTANGO images (delete pipfiles and virtualenv)
  .gitlab-ci.yml
  docker/tango/ska-python-buildenv/.release
  docker/tango/ska-python-buildenv/Dockerfile
  docker/tango/ska-python-buildenv/Pipfile
  docker/tango/ska-python-buildenv/Pipfile.lock
  docker/tango/ska-python-buildenv/requirements.txt
  docker/tango/ska-python-runtime/.release
  docker/tango/ska-python-runtime/Dockerfile
  docker/tango/ska-python-runtime/Pipfile
  docker/tango/ska-python-runtime/Pipfile.lock
  docker/tango/tango-itango/.release
  docker/tango/tango-itango/Dockerfile
  docker/tango/tango-itango/Pipfile
  docker/tango/tango-itango/Pipfile.lock
Due: build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango

story_AT1-366: Added files in mariadb and tango-archiver folder.
  docker/tango/Makefile
  docker/tango/mariadb_hdbpp/.release
  docker/tango/mariadb_hdbpp/Pipfile
  docker/tango/mariadb_hdbpp/Pipfile.lock
  docker/tango/mariadb_hdbpp/docker-compose.yml
  docker/tango/mariadb_hdbpp/test/Makefile
  docker/tango/mariadb_hdbpp/test/__pycache__/simpleTestMaria.cpython-36-pytest-5.2.0.pyc
  docker/tango/mariadb_hdbpp/test/simpleTestMaria.py
  docker/tango/tango-archiver/Dockerfile
  docker/tango/tango-archiver/Makefile
  docker/tango/tango-archiver/Pipfile
  docker/tango/tango-archiver/Pipfile.lock
  docker/tango/tango-archiver/attribute_fqdn.txt
  docker/tango/tango-archiver/configure_hdbpp.py
  docker/tango/tango-archiver/docker-compose.yml
  docker/tango/tango-archiver/resources/add_tables.sh
  docker/tango/tango-archiver/resources/create_hdb++.sql
  docker/tango/tango-archiver/resources/initdb.sh
  docker/tango/tango-archiver/resources/my.cnf
  docker/tango/tango-archiver/resources/supervisord.conf
  docker/tango/tango-archiver/test.sh
  docker/tango/tango-archiver/test/Makefile
  docker/tango/tango-archiver/test/SimpleTest.py
Due: none

Run all test using make test
  docker/Makefile
  docker/tango/Makefile
  docker/tango/tango-cpp/Makefile
  docker/tango/tango-cpp/docker-compose.yml
  docker/tango/tango-cpp/test/test.sh
  docker/tango/tango-cpp/test/wait-for-it.sh
  docker/tango/tango-db/Makefile
  docker/tango/tango-db/docker-compose.yml
  docker/tango/tango-db/test/test.sh
  docker/tango/tango-db/test/wait-for-it.sh
Due: build_tango-db, build_tango-cpp, build_tango-dsconfig, build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango

Added tango-community docker build and push
  docker/tango/Makefile
  docker/tango/tango-community/.make-release-support
  docker/tango/tango-community/Makefile
  docker/tango/tango-community/docker-compose.yml
  docker/tango/tango-community/makefile.mk
  docker/tango/tango-community/tango-admin/.release
  docker/tango/tango-community/tango-admin/Dockerfile
  docker/tango/tango-community/tango-databaseds/.release
  docker/tango/tango-community/tango-databaseds/Dockerfile
  docker/tango/tango-community/tango-db/.release
  docker/tango/tango-community/tango-db/Dockerfile
  docker/tango/tango-community/tango-jive/.release
  docker/tango/tango-community/tango-jive/Dockerfile
  docker/tango/tango-community/tango-libtango/.release
  docker/tango/tango-community/tango-libtango/Dockerfile
  docker/tango/tango-community/tango-pytango/.release
  docker/tango/tango-community/tango-pytango/Dockerfile
  docker/tango/tango-community/tango-pytango/Pipfile
  docker/tango/tango-community/tango-pytango/Pipfile.lock
  docker/tango/tango-community/tango-rest/.release
  docker/tango/tango-community/tango-rest/Dockerfile
  docker/tango/tango-community/tango-test/.release
  docker/tango/tango-community/tango-test/Dockerfile
Due: none

add build tango-community and test all
  .gitlab-ci.yml
Due: none

fix test all
  .gitlab-ci.yml
Due: none

Add chart-testing tool to deploy image
  docker/deploy/Dockerfile
Due: none

Initialise helm
  docker/deploy/Dockerfile
Due: none

Install helm plugins into deploy base image
  docker/deploy/Dockerfile
Due: none

Bump deploy image versions
  docker/deploy/.release
Due: none

Install python3 and pip requirements
  docker/deploy/.release
  docker/deploy/Dockerfile
Due: none

Invoke `pip3` instead of `python3 -m pip`
  docker/deploy/Dockerfile
Due: none

Install pytest into python3 site packages
  docker/deploy/Dockerfile
Due: none

Bump deploy image version
  docker/deploy/.release
Due: none

Install pytest into python3 site packages
  docker/deploy/.release
  docker/deploy/Dockerfile
Due: none

Update reference to pytest requirements;
  docker/deploy/.release
  docker/deploy/Dockerfile
Due: none

story_AT1-366: Resolve comments on merge request 1
  docker/tango/Makefile
  docker/tango/mariadb_hdbpp/Pipfile
  docker/tango/mariadb_hdbpp/Pipfile.lock
  docker/tango/mariadb_hdbpp/resources/add_tables.sh
  docker/tango/mariadb_hdbpp/resources/initdb.sh
  docker/tango/mariadb_hdbpp/test/Makefile
  docker/tango/mariadb_hdbpp/test/__pycache__/simpleTestMaria.cpython-36-pytest-5.2.0.pyc
  docker/tango/mariadb_hdbpp/test/simpleTestMaria.py
  docker/tango/tango-archiver/Dockerfile
  docker/tango/tango-archiver/Makefile
  docker/tango/tango-archiver/Pipfile
  docker/tango/tango-archiver/Pipfile.lock
  docker/tango/tango-archiver/docker-compose.yml
  docker/tango/tango-archiver/test/Makefile
  docker/tango/tango-archiver/test/SimpleTest.py
  docker/tango/tango-viewer/.release
  docker/tango/tango-viewer/Dockerfile
  docker/tango/tango-viewer/Makefile
  docker/tango/tango-viewer/Pipfile
  docker/tango/tango-viewer/hdbpp_viewer_script
Due: none

story_AT1-365: Added files for hdbpp viewer docker image.
  .gitlab-ci.yml
  docker/tango/Makefile
  docker/tango/hdbpp_viewer/.release
  docker/tango/hdbpp_viewer/Dockerfile
  docker/tango/hdbpp_viewer/Makefile
  docker/tango/hdbpp_viewer/hdbpp_viewer_script
  docker/tango/tango-viewer/Pipfile
Due: none

story_AT1-365: Added test framework for archiver in gitlab-ci.yml file.
  .gitlab-ci.yml
Due: none

Install pip via get-pip.py
  docker/deploy/Dockerfile
  docker/tango/tango-archiver/Dockerfile
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder

Path conditions:
  build_tango-builder: any of: docker/tango/tango-builder/**/*
  build_dependencies: any of: docker/tango/tango-dependencies/**/*
  build_tango-db: any of: docker/tango/tango-db/**/*
  build_tango-cpp: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*
  build_tango-java: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*
  build_tango-dsconfig: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-dsconfig/**/*
  build_ska-python-buildenv: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/ska-python-buildenv/**/*
  build_ska-python-runtime: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/ska-python-buildenv/**/*, docker/tango/ska-python-runtime/**/*
  build_tango-itango: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/ska-python-buildenv/**/*, docker/tango/ska-python-runtime/**/*, docker/tango/tango-itango/**/*
